.header {
  display: flex;
  padding: 10px 10px 10px 10px;
  background: white;
  align-items: center;
  height: 80px;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.user_wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

.header_user {
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 20px;
  background-color: #5fbec7;
  border-radius: 10px;
  box-shadow: 0px 1px 7px 0px #5fbec7;
  margin-left: 20px;
}

.header_user > img {
  margin-left: 15px;
  width: 70px;
}

.header_action {
  display: flex;
  align-items: center;
  flex: 2;
  justify-content: flex-end;
}

.user_avatar {
  margin-right: 15px;
  border: 3px solid #fff;
  box-shadow: 0 0 0 2px #5fbec7;
}

.logout_button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.sidebar {
  position: fixed;
  left: 0px;
  background: white;
  height: 100%;
  width: 80px;
  transition: 0.2s ease;
  padding-top: 100px;
  z-index: 100;
}

.sidebar.hide {
  left: -80px;
}

.sidebar.show {
  left: 0px;
}

.sidebar_main {
  position: relative;
  height: 100%;
}

.sidebar_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar_item {
  position: relative;
  padding: 8px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 4px 0px #5fbec7;
  border-radius: 10px;
  transition: 0.3s ease;
}

.category_icon {
  font-size: 25px;
}

.sidebar_item:hover > span {
  display: block;
}

.sidebar_item > span {
  position: absolute;
  top: 50%;
  left: 135%;
  display: none;
  margin-bottom: 2em;
  padding: 0.5em;
  background-color: #ffffff;
  font-size: 1em;
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
  transition: all 0.15s ease-in-out;
  transform: translateY(-50%);
  box-shadow: 0px 0px 16px 0px #5fbec7;
}

.sidebar_item > span::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent rgb(255, 255, 255) transparent transparent;
}

.sidebar_item:hover {
  transform: scale(1.1);
  box-shadow: inset 0px 0px 7px 0px #5fbec7;
}

.toggle {
  position: absolute;
  background: white;
  padding: 15px 10px 15px 10px;
  border-radius: 0% 100% 100% 0%;
  top: 50%;
  transform: translateY(calc(-50% - 80px));
  left: 90%;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 100px 130px;
}

.post_upload {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-around;
  background: white;
  padding: 20px 0px 20px 0px;
  border-radius: 15px;
}

.user_input{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.user_input > textarea {
    width: 100%;
  resize: none;
  border: none;
  outline: none;
  padding: 10px;
  background: #ebf6f7;
  border-radius: 10px;
  transition: all 0.3s;
}

.user_input > textarea:active,
.user_input > textarea:focus,
.user_input > textarea:hover {
  box-shadow: 0px 1px 4px 2px #bad9dc;
}

.post_upload > button {
  height: 75px;
  width: 75px;
  border: 2px solid #5fbec7;
  border-radius: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #5fbec7 50%, #ffffff 50%);
  background-size: 100% 200%;
  transition: all 0.3s;
  color: #ffffff;
  font-size: 30px;
  cursor: pointer;
  outline: none;
}

.post_upload > button:hover {
  background-position: 0 -100%;
  color: #5fbec7;
}


.url_preview_container{
    width: 40%;
    background: white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transform: translate(0px, -10px);
}

.url_preview{
    display: flex;
    margin: 10px;
    background: #d4d0d024;
    height: 130px;
}

.url_image{
    flex: 1;
}

.url_image>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.url_description{
    flex: 3;
    max-height: 100%;
    padding: 10px;
    overflow: hidden;
}

.url_description>span{
    display: flex;
    align-items: center;
    font-size: 13px;
    color: rgb(138, 136, 136);
}

.url_description>h4{
    margin: 5px 0;
}

.url_description>p{
    font-size: 13px;
    line-height: 17px;
    text-overflow: ellipsis;
}

.url_preview_container.hide{
    display: none;
}

.url_preview_container.show{
    display: flex;
}

.post_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
}

.post_card {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    height: 380px;
    width: 300px;
    border-radius: 10px;
    background: white;
    margin: 0px 10px 30px 10px;
    transition: box-shadow 0.3s ease-out, transform 0.3s ease-out, opacity 0.2s ease-out;
}

.post_heading{
    display: flex;
    align-items: center;
    flex:1;
    width: 100%;
}

.post_heading>h4{
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
}

.user_message{
    padding: 2px;
    margin-left: 5px;
    font-size: 15px;
    flex: 1;
    width: 100%;
}

.post_image{
    width: 100%;
    height: 150px;
    flex: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post_image>img{
    width: 90%;
    height: 100%;
    object-fit: cover;
}

.post_description{
    flex: 1;
    font-size: 12px;
    margin-top: 10px;
    width: 90%;
}

.post_description>h3{
    font-weight: 500;
}

.post_card:hover {
  box-shadow: rgb(45 45 45 / 5%) 0px 2px 2px, rgb(49 49 49 / 5%) 0px 4px 4px,
    rgb(42 42 42 / 5%) 0px 8px 8px, rgb(32 32 32 / 5%) 0px 16px 16px,
    rgb(49 49 49 / 5%) 0px 32px 32px, rgb(35 35 35 / 5%) 0px 64px 64px;
  transform: translate(0, -4px);
  cursor: pointer;
}


.main_form{
    display: flex;
    margin: auto;
    height: 100vh;
    background-color: white;
    justify-content: center;
}

.brand_div{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_div{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app_signup{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.google_login{
    width: 225px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    background: white;
    box-shadow: 3px 4px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    border: none;
    transition: all 0.5s;
}

.google_login:hover{
    transform: translate(0, -4px);
    box-shadow: 5px 6px 5px rgb(0 0 0 / 12%), 0px 0px 2px rgb(0 0 0 / 24%);
}

.google_login > img{
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0 10px;
    vertical-align: middle;
}
.unauthorized{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
  .header {
    height: 50px;
  }
  .header_user {
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 20px;
    font-size: 10px;
    margin-left: 20px;
  }

  .header_user > img {
    margin-left: 15px;
    width: 50px;
  }

  .user_avatar {
    margin-right: 10px;
    width: 30px !important;
    height: 30px !important;
    font-size: 1rem !important;
  }

  .brand > img {
    width: 35px;
  }

  .sidebar {
    width: 60px;
  }
  .sidebar.hide {
    left: -60px;
  }
  .category_icon {
    font-size: 15px;
  }

  .toggle {
    padding: 5px 5px 5px 5px;
  }

  .main {
    padding: 70px 70px;
  }

  .post_upload {
    width: 70%;
    padding: 5px 5px 5px 5px;
    flex-direction: column;
  }

  .post_upload > textarea {
    height: 50px;
    margin-bottom: 5px;
    width: 90%;
  }

  .post_upload > button {
    height: 50px;
    width: 50px;
    font-size: 25px;
  }

  .post_card {
    width: 190px;
    height: 180px;
  }

  .main_form{
    flex-direction: column;
    }

    .form_div{
        flex: 2;
    }

    .form{
        height: 90%;
    }
}

@media (max-width: 408px) {
  .post_upload {
    width: 100%;
  }
  .post_card {
    margin: 0px 0px 30px 0px;
  }
}
